<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">-->
    <title>Getting Started: Serving Web Content</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header(content='home')"></div>
    <div class="jumbotron">
        <h1 class="display-4"><p th:text="'Hello, ' + ${name} + '!'" /></h1>
        
        

        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    
    <div class="container">
        <div class="card mb-3">
        <img src="" class="card-img-top" id="NASAIMG">
            <div class="card-body">
                <h5 class="card-title" id="title"></h5>
                <p class="card-text" id="explana tion"></p>
                <p class="card-text"><small class="text-muted" id="date"></small></p>
            </div>
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready( () => {
            console.log(" im ready! ")
            $.ajax({
                type: "GET",
                url: "https://api.nasa.gov/planetary/apod?api_key=2ZggqLkBF8nex9iLSSR0W81w19YMB7u5JIAzxD3w",
                dataType: "json",
                success: (data) => {
                    $("#NASAIMG").attr("src", data.hdurl);
                    $("#title").text(data.title);
                    $("#date").text(data.date);
                    $("#explanation").text(data.explanation);
                    
                },
                error: (e) => {
                    console.error(e);
                }
            })
        })
    </script>
  </body>
</html>